.UV-lo {
  background-color: rgb(82, 163, 240);
  background-clip: content-box;
}

.UV-med-lo {
  background-color: rgb(146, 255, 103);
  background-clip: content-box;
}

.UV-med {
  background-color: rgb(229, 255, 0);
  background-clip: content-box;
}

.UV-med-hi {
  background-color: rgb(255, 166, 0);
  background-clip: content-box;
}

.UV-hi {
  background-color: rgb(255, 60, 0);
  background-clip: content-box;
}